@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --radius: 0.5rem;
    --text: #120e08;
    --background: #f7f3ed;
    --primary: #e9aa16;
    --secondary: #dedede;
    --accent: #e88102;
  }

  .dark {
    --text: #f7f3ed;
    --background: #000000;
    --primary: #e9aa16;
    --secondary: #111111;
    --accent: #fd9517;
  }

}

.slick-slide>div {
  margin: 0 10px;
}

@layer utilities {
  .hexagon {
    width: 300px;
    height: 250.8076px;
    clip-path: polygon(25% 0%, 75% 0%, 100% 50%,
        75% 100%, 25% 100%, 0% 50%);
  }

  @media (max-width: 640px) {
    .hexagon {
      width: 200px;
      height: 173.8725px;
    }
  }
}